header {
	background-color: #eebb44;
	margin-top: -21px;
	margin-bottom: 20px;
}
h1 {
	padding-top: 20px;
}
.description {
	text-align: left;

}
.row{
	margin-bottom: 20px;
}

.col-4 {
padding: 10px;	

}
.card {
	border: 1px solid gray;
margin-bottom: 20px;
}
.card img {
	width: 100%;
}
.info {
	padding-left: 15px;
}
.card h2 {
	font-size: 18px;
	font-weight: bold;
}